body {
  margin: 0;
  padding-right: 0;

  font-family: "Roboto", "Arial", sans-serif;

  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;

  background-color: #eeeeee;
}
.site-navigation,
.cart-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: #ff0000;
  background-color: #eeeeee;

}

.site-navigation a:active,
.cart-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.offers {
  list-style: none;
}

.offers {
  text-align: left;
}

.offer h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.offer a {
  padding: 16px 39px;

  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border-radius: 5px;
}

.offer .offer-red {
  background-color: #fb565a;
}

.offer .offer-green {
  background-color: #00ca74;
}

.offer .offer-yellow {
  background-color: #efc84a;
}

.advantage .advantage-slogan {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #000000;
}

.advantage p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
.advantage .advantage-abilities {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantage h3 {
  font-weght: bold;
  text-transform: uppercase;
  color: #000000;
}

.advantage-illustration .statistics {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantage-illustration dd {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}

.advantage-illustration dt {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.contacts span {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts .button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
}

.inner-page h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}

.cost p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  color: #283136;
}

.filter-button .button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog div{
  background-color: #eeeeee;
}
.catalog h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog span {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #fb565a;
}

.slides p:first-child {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slides p:last-child {
  font-size: 16px;
  line-height: 24px;
}

.slides a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
}

.footer-social ul{
  list-style: none;
  text-align: center;
}

.footer-social .social-button {
  background-color: #e1e1e1;}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  background-color: #e74246;
}

.footer-social .social-button:active {
  color: rgba(0, 1, 1, 0.1)

  background-color: #d7373b;
}

.footer-friendship p {
  text-align: left;
}

.footer-friendship p:first-child {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.footer-friendship p {
  line-height: 22px;
  color: #444444;
}

.modal h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal form {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.modal placeholder {
  color: rgba(68, 68, 68, 0.5);
}
